socialoot-workflows/main-browserless-account-selection.json
{
  "name": "main-browserless-account-selection",
  "nodes": [
    {
      "parameters": {},
      "id": "34ac4eb6-6fa4-4906-8e25-14a8ff6982e1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2192,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk/edit#gid=0"
        },
        "options": {}
      },
      "id": "93ed5ab7-91c6-4e22-b0e5-91daaead72b6",
      "name": "Read Browserless Accounts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1744,
        128
      ],
      "credentials": {
        "googleApi": {
          "id": "6GTo0mLmj7SkwUKi",
          "name": "Google Service Account (justmumu-n8n)"
        }
      }
    },
    {
      "parameters": {
        "url": "https://account.browserless.io/",
        "options": {}
      },
      "id": "d88cc287-3244-40f0-93d5-f592e80c25bf",
      "name": "Fetch Browserless Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract all JS file URLs from the HTML\nconst html = $input.first().json.data || $input.first().json.body;\nconst scriptRegex = /<script\\s+[^>]*?src\\s*=\\s*[\"'](\\/(?!\\/)[^\"']*)[\"']/gi;\nconst jsUrls = [];\nlet match;\nconsole.log(\"HERE\")\nwhile ((match = scriptRegex.exec(html)) !== null) {\n  let url = match[1];\n\n  console.log(url);\n  // Handle relative URLs\n  if (url.startsWith('/')) {\n    url = 'https://account.browserless.io' + url;\n  } else if (!url.startsWith('http')) {\n    url = 'https://account.browserless.io/' + url;\n  }\n  \n  // Prioritize _next/static/chunks/pages/ files\n  if (url.includes('/_next/static/chunks/pages/')) {\n    jsUrls.unshift({ jsUrl: url, priority: 1 });\n  } else if (url.includes('/_next/static/') || url.includes('.js')) {\n    jsUrls.push({ jsUrl: url, priority: 0 });\n  }\n}\n\n// Sort by priority (pages first)\njsUrls.sort((a, b) => b.priority - a.priority);\n\nreturn jsUrls.map(item => ({ json: { jsUrl: item.jsUrl } }));"
      },
      "id": "bbb8d612-de7d-4ef9-b621-df1dbc4759a2",
      "name": "Extract JS URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        448
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === \"AnonKey Found NoOp\" }}"
        }
      },
      "id": "7b4744b8-6b52-4c5e-a3c2-b90e4a8d723a",
      "name": "Loop JS Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1232,
        448
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.jsUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c719dd03-cd76-4c7e-a11e-d987f85154d0",
      "name": "Fetch JS File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate Supabase anon key from JS content\nconst jsContent = $input.first().json.data || $input.first().json;\nlet anonKey = null;\nlet supabaseUrl = null;\n\n// Helper function to decode JWT payload\nfunction decodeJWT(token) {\n  try {\n    const parts = token.split('.');\n    if (parts.length !== 3) return null;\n    \n    // Decode the payload (second part)\n    const payload = parts[1];\n    const decoded = Buffer.from(payload, 'base64').toString('utf-8');\n    return JSON.parse(decoded);\n  } catch (e) {\n    return null;\n  }\n}\n\n// Pattern 1: createClient('url', 'key')\nconst pattern1 = /createClient\\s*\\(\\s*['\"]([^'\"]+)['\"]\\s*,\\s*['\"]([^'\"]+)['\"]/g;\nlet match1;\n\nwhile ((match1 = pattern1.exec(jsContent)) !== null) {\n  const url = match1[1];\n  const key = match1[2];\n  \n  // Check if it's a Supabase URL and JWT format\n  if (url.includes('supabase.co') && key.startsWith('eyJ')) {\n    const decoded = decodeJWT(key);\n    \n    // Validate JWT\n    if (decoded && decoded.iss === 'supabase' && decoded.role === 'anon') {\n      anonKey = key;\n      supabaseUrl = url;\n      break;\n    }\n  }\n}\n\n// Pattern 2: Direct JWT pattern search\nif (!anonKey) {\n  const jwtPattern = /(eyJ[A-Za-z0-9_-]+\\.eyJ[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+)/g;\n  let match2;\n  \n  while ((match2 = jwtPattern.exec(jsContent)) !== null) {\n    const token = match2[1];\n    const decoded = decodeJWT(token);\n    \n    // Validate\n    if (decoded && decoded.iss === 'supabase' && decoded.role === 'anon') {\n      anonKey = token;\n      // Try to find associated URL\n      const urlPattern = /(https:\\/\\/[a-z0-9-]+\\.supabase\\.co)/;\n      const urlMatch = jsContent.match(urlPattern);\n      if (urlMatch) {\n        supabaseUrl = urlMatch[1];\n      }\n      break;\n    }\n  }\n}\n\nif (anonKey) {\n  // Found valid anon key, stop the loop\n  return [{\n    json: {\n      anonKey: anonKey,\n      supabaseUrl: supabaseUrl || 'https://data.browserless.io',\n      found: true,\n      stopLoop: true\n    }\n  }];\n} else {\n  // Continue searching\n  return [{\n    json: {\n      found: false,\n      stopLoop: false\n    }\n  }];\n}"
      },
      "id": "d530abf8-affe-436e-8d80-b6728c11fc73",
      "name": "Extract & Validate Anon Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e1547d41-6905-4f07-b501-f1d589a81c37",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97f188fb-2301-46fc-b2a5-7d9aa4665a53",
      "name": "Key Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ade408a0-ffa5-4de8-b965-aba591582bce",
              "name": "anonKey",
              "value": "={{ $json.anonKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f856e92a-d117-45f2-b06d-630224e3763c",
      "name": "Store Anon Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -96,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7c4bdb8c-f4f8-4778-9a4b-9c1727a005a1",
      "name": "Merge Accounts with Key",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8c028f29-92f5-490e-bffd-b56f956959ef",
      "name": "Loop Over Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare account data and initialize retry counter\nconst accountData = $input.first().json;\nconst maxRetries = 3\n\nreturn [{\n  json: {\n    ...accountData,\n    totalCredits: accountData.totalCredits || 0,\n    usedCredits: accountData.usedCredits || 0,\n    creditResetDate: accountData.creditResetDate || \"\",\n    retryCount: accountData.retryCount ? accountData.retryCount : 1,\n    maxRetries: maxRetries\n  }\n}];"
      },
      "id": "234a381a-c355-4bde-aad4-5f0b0bbe3d51",
      "name": "Prepare Account Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data.browserless.io/auth/v1/otp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Apikey",
              "value": "={{ $json.anonKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.anonKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "create_user",
              "value": "={{false}}"
            },
            {
              "name": "data",
              "value": "={{ {} }}"
            },
            {
              "name": "gotrue_meta_security",
              "value": "={{ {} }}"
            },
            {
              "name": "code_challenge",
              "value": "={{ null }}"
            },
            {
              "name": "code_challenge_method",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca41721c-aebc-44d3-9ad4-28d3490e1147",
      "name": "Send OTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        656
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "amount": "={{ $json.pollingDelay }}"
      },
      "id": "c73d71b5-bd35-48e0-897e-d2a1d945903c",
      "name": "Wait for OTP Email",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2304,
        656
      ],
      "webhookId": "75bc802f-2e33-49d4-bd47-e9c93d03f56e"
    },
    {
      "parameters": {
        "jsCode": "// Gmail polling logic with retry\nconst accountData = $('Prepare Account Data').first().json;\nconst maxPollingAttempts = 5; // 25 seconds / 5 seconds\nconst pollingDelaySecond = 10; // 5 seconds\n\nreturn [{\n  json: {\n    ...accountData,\n    pollingAttempt: 1,\n    maxPollingAttempts: maxPollingAttempts,\n    pollingDelay: pollingDelaySecond,\n    otpFound: false\n  }\n}];"
      },
      "id": "1a2b2b6d-f204-42ed-8b1f-20060456c87a",
      "name": "Init Gmail Polling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        656
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "Label_883428773074397666"
          ],
          "q": "=to:{{ $json.email }}",
          "sender": "no-reply@browserless.io"
        }
      },
      "id": "8638827c-6441-4403-94a4-74a032445458",
      "name": "Gmail Search OTP",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        656
      ],
      "webhookId": "f9ebac16-6853-49b1-9007-197135d3d547",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "uY0omh5uDrZ3ydtl",
          "name": "Google Service Account (justmumu-n8n - rasit@justmumu.com)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "4c310700-9f56-4745-851f-5e44a496eddd"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef2c82b5-2271-4b6e-9dff-ad72f730e14e",
      "name": "Email Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2944,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract OTP code from email\nconst emailData = $('Email Found?').first().json;\nlet otpCode = null;\n\n// Try to extract from snippet or subject\nconst textContent = (emailData.snippet || emailData.subject || '').toString();\n\n// Pattern 1: 6-digit code\nconst otpMatch = textContent.match(/\\b(\\d{6})\\b/);\n\nif (otpMatch) {\n  otpCode = otpMatch[1];\n}\n\n// Get account data from context\nconst accountData = $('Init Gmail Polling').first().json;\n\nif (otpCode) {\n  return [{\n    json: {\n      ...accountData,\n      otpCode: otpCode,\n      otpFound: true,\n      emailId: emailData.id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...accountData,\n      otpFound: false,\n      error: 'Could not extract OTP from email'\n    }\n  }];\n}"
      },
      "id": "4053dab3-f29a-4e5d-bca9-edc858255ee4",
      "name": "Extract OTP Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Polling retry logic\nconst accountData = $('Wait for OTP Email').first().json;\nconst currentAttempt = accountData.pollingAttempt + 1;\n\nif (currentAttempt <= accountData.maxPollingAttempts) {  \n  return [{\n    json: {\n      ...accountData,\n      pollingAttempt: currentAttempt,\n      shouldRetryPolling: true\n    }\n  }];\n} else {\n  // Max attempts reached, move to account retry\n  return [{\n    json: {\n      ...accountData,\n      shouldRetryPolling: false\n    }\n  }];\n}"
      },
      "id": "1dcbcd3e-32a6-415e-9ffe-04ff25a457f7",
      "name": "Polling Retry Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4b18b07f-1767-4c80-a029-8f96ca01e5cd",
              "leftValue": "={{ $json.shouldRetryPolling }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27d9f2b9-1b46-4d4f-9705-253809f45108",
      "name": "Should Retry Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3920,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data.browserless.io/auth/v1/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Apikey",
              "value": "={{ $json.anonKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.anonKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"token\": \"{{ $json.otpCode }}\",\n  \"type\": \"email\",\n  \"gotrue_meta_security\": {}\n}",
        "options": {}
      },
      "id": "1ce7f3e0-8a46-4365-8ff4-f45fba3f038f",
      "name": "Verify OTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3936,
        496
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.browserless.io/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"getAccount\",\n  \"query\": \"query getAccount($apiToken: String) { account(apiToken: $apiToken) { stripe { current_period_end } cloudUnits { used available } } }\"\n}",
        "options": {}
      },
      "id": "42b6a1c9-4fb4-4b8e-a11e-b48d72570861",
      "name": "Get Credits via GraphQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse credits from GraphQL response\nconst response = $input.first().json;\nconst accountData = $('Extract OTP Code').first().json;\n\nconst cloudUnits = response.data.account.cloudUnits;\nconst stripe = response.data.account.stripe;\nconst cycleDate = new Date(stripe.current_period_end * 1000);\n\n\nconst usedCredits = cloudUnits.used || 0;\nconst totalCredits = cloudUnits.available || 0;\nconst creditResetDate = cycleDate.toLocaleDateString('tr-TR') || accountData.creditResetDate;\n\n// Format for Google Sheets update\nreturn [{\n  json: {\n    ...accountData,\n    totalCredits: totalCredits,\n    usedCredits: usedCredits,\n    creditResetDate: creditResetDate\n  }\n}];"
      },
      "id": "196555ef-c0b1-47a4-93c2-841e58525963",
      "name": "Parse Credits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        336
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Email Address": "={{ $json.email }}",
            "API Key": "={{ $json.apiKey }}",
            "Total Credits": "={{ $json.totalCredits }}",
            "Used Credits": "={{ $json.usedCredits }}",
            "Credit Reset Date": "={{ $json.creditResetDate }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API Key",
              "displayName": "API Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Credits",
              "displayName": "Total Credits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Used Credits",
              "displayName": "Used Credits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Credit Reset Date",
              "displayName": "Credit Reset Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d4aa9689-07b5-4073-9df9-721f06401400",
      "name": "Update Credits in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5040,
        736
      ],
      "credentials": {
        "googleApi": {
          "id": "6GTo0mLmj7SkwUKi",
          "name": "Google Service Account (justmumu-n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Account retry logic\nconst accountData = $('Prepare Account Data').first().json;\nconst retryCount = accountData.retryCount + 1;\n\nif (retryCount <= accountData.maxRetries) {\n  return [{\n    json: {\n      ...accountData,\n      retryCount: retryCount,\n      shouldRetryAccount: true\n    }\n  }];\n} else {\n  // Skip this account\n  return [{\n    json: {\n      ...accountData,\n      shouldRetryAccount: false\n    }\n  }];\n}"
      },
      "id": "862df506-0b1b-4104-abcd-0f77a50b8480",
      "name": "Account Retry Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b7baaa6f-59ef-49a5-97f5-ffc88c21e2a8",
              "leftValue": "={{ $json.shouldRetryAccount }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d05272f-2e5f-42e4-b5e5-bccdbe979573",
      "name": "Should Retry Account?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4480,
        688
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZTODuwRM0e4RpT5dSS_uwblBwIaSP0ahXWFSmgd8pk/edit#gid=0"
        },
        "options": {}
      },
      "id": "4bf25dbe-2085-4de7-9c98-2a7b50b067c9",
      "name": "Re-read Updated Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1184,
        144
      ],
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "6GTo0mLmj7SkwUKi",
          "name": "Google Service Account (justmumu-n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter accounts with >= 15% remaining credits and select random\nconst accounts = [];\n\nfor (const item of $input.all()) {\n  const totalCredits = parseFloat(item.json['Total Credits']) || 0;\n  const usedCredits = parseFloat(item.json['Used Credits']) || 0;\n  \n  const remainingCredits = totalCredits - usedCredits;\n  const remainingPercentage = totalCredits > 0 ? (remainingCredits / totalCredits) * 100 : 0;\n  \n  if (remainingPercentage >= 15) {\n    accounts.push({\n      emailAddress: item.json['Email Address'],\n      apiKey: item.json['API Key'],\n      totalCredits: totalCredits,\n      usedCredits: usedCredits,\n      remainingCredits: remainingCredits,\n      remainingPercentage: Math.round(remainingPercentage * 100) / 100,\n      creditResetDate: item.json['Credit Reset Date']\n    });\n  }\n}\n\nif (accounts.length === 0) {\n  throw new Error('No accounts found with at least 15% remaining credits');\n}\n\nconst randomIndex = Math.floor(Math.random() * accounts.length);\nconst selectedAccount = accounts[randomIndex];\n\nreturn [{\n  json: {\n    selectedAccount: selectedAccount,\n    totalAvailableAccounts: accounts.length,\n    allAvailableAccounts: accounts\n  }\n}];"
      },
      "id": "9249308a-88ae-4db7-bdd8-d31ba1609323",
      "name": "Filter & Select Random Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f3c69b4-f1c5-4148-928c-07c2d16f7d0f",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "a9885095-217c-48a5-bd2d-4a8b14428046",
              "name": "email",
              "value": "={{ $json[\"Email Address\"] }}",
              "type": "string"
            },
            {
              "id": "c35cba24-9409-4f85-ba0e-521067217196",
              "name": "apiKey",
              "value": "={{ $json[\"API Key\"] }}",
              "type": "string"
            },
            {
              "id": "34192031-a589-4eb0-96df-625ebdcf62d5",
              "name": "totalCredits",
              "value": "={{ $json[\"Total Credits\"] }}",
              "type": "number"
            },
            {
              "id": "0a74f306-f58e-4349-918b-f02bdfc5ad63",
              "name": "usedCredits",
              "value": "={{ $json[\"Used Credits\"] }}",
              "type": "number"
            },
            {
              "id": "fa18eb9e-47b1-4d0e-8fe7-426d3793ba06",
              "name": "creditResetDate",
              "value": "={{ $json[\"Credit Reset Date\"] }}",
              "type": "string"
            },
            {
              "id": "6dbbcc59-d779-42cb-9128-788c123dfea1",
              "name": "anonKey",
              "value": "={{ $json.anonKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        656
      ],
      "id": "859350ec-05f8-43ee-b2c0-309a3d5d9bdd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78f92dc1-7205-48e8-a571-f95bcdb7f86b",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4144,
        496
      ],
      "id": "4465d1aa-739f-42f1-be45-2123fff19b67",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Parse credits from GraphQL response\nconst accountData = $('Extract OTP Code').first().json;\n\nconst usedCredits = 1000;\nconst totalCredits = 1000;\nconst creditResetDate = accountData.creditResetDate;\n\n// Format for Google Sheets update\nreturn [{\n  json: {\n    ...accountData,\n    totalCredits: totalCredits,\n    usedCredits: usedCredits,\n    creditResetDate: creditResetDate\n  }\n}];"
      },
      "id": "93618af5-cbdf-45a2-a656-345031b435af",
      "name": "Set Out of Credit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        512
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3360,
        496
      ],
      "id": "70958ebc-6e83-428f-b4d3-32b1873d9ad9",
      "name": "Delete a message",
      "webhookId": "750daada-22c7-48e3-b7bb-d55c194eea7d",
      "credentials": {
        "googleApi": {
          "id": "uY0omh5uDrZ3ydtl",
          "name": "Google Service Account (justmumu-n8n - rasit@justmumu.com)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c9b9fe7-158b-4a8b-8951-6d823956c533",
              "leftValue": "={{ $json.jsUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        528
      ],
      "id": "584f982d-3802-4cc5-9635-7104e4b1dde9",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        784
      ],
      "id": "576cf4c9-63c9-4852-8550-9d37cf019f3c",
      "name": "AnonKey Not Found NoOp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -96,
        800
      ],
      "id": "dd88e748-a6f1-41dd-ab35-0ad50c43698c",
      "name": "AnonKey Found NoOp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d38e874e-d895-4240-b46a-61862dd48579",
              "leftValue": "={{ $json.anonKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        352
      ],
      "id": "bcd477d4-f138-4b67-bf64-7ff1173fd74c",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d68af7a8-d61a-4591-881f-1a531bbb3084",
              "name": "anonKey",
              "value": "={{ null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        352
      ],
      "id": "9b565dc6-cbd7-4236-9a2b-325476b41789",
      "name": "Set Null AnonKey"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "047b792b-39de-4be8-9121-7217172db0d1",
              "name": "selectedAccount",
              "value": "={{ $json.selectedAccount }}",
              "type": "object"
            },
            {
              "id": "f8e8924a-d1ba-46e8-9bd1-9ed9bc8c1428",
              "name": "totalAvailableAccounts",
              "value": "={{ $json.totalAvailableAccounts }}",
              "type": "number"
            },
            {
              "id": "1f6abdde-9a45-43cc-ba9a-2693d1d98671",
              "name": "allAvailableAccounts",
              "value": "={{ $json.allAvailableAccounts }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5616,
        144
      ],
      "id": "cb9b39d6-dd40-432a-a1ad-3a927ccdb8a8",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2192,
        448
      ],
      "id": "75b24afa-0473-45e9-8eee-c4468b560bc2",
      "name": "When Executed by Another Workflow",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Fetch Browserless Homepage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Browserless Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Browserless Homepage": {
      "main": [
        [
          {
            "node": "Extract JS URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JS URLs": {
      "main": [
        [
          {
            "node": "Loop JS Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop JS Files": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch JS File": {
      "main": [
        [
          {
            "node": "Extract & Validate Anon Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Anon Key": {
      "main": [
        [
          {
            "node": "Key Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Found?": {
      "main": [
        [
          {
            "node": "Store Anon Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AnonKey Not Found NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Anon Key": {
      "main": [
        [
          {
            "node": "AnonKey Found NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Browserless Accounts": {
      "main": [
        [
          {
            "node": "Merge Accounts with Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Accounts with Key": {
      "main": [
        [
          {
            "node": "Loop Over Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Accounts": {
      "main": [
        [
          {
            "node": "Re-read Updated Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Account Data": {
      "main": [
        [
          {
            "node": "Send OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP": {
      "main": [
        [
          {
            "node": "Init Gmail Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for OTP Email": {
      "main": [
        [
          {
            "node": "Gmail Search OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Gmail Polling": {
      "main": [
        [
          {
            "node": "Wait for OTP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Search OTP": {
      "main": [
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Found?": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Polling Retry Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OTP Code": {
      "main": [
        [
          {
            "node": "Verify OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Retry Logic": {
      "main": [
        [
          {
            "node": "Should Retry Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Polling?": {
      "main": [
        [
          {
            "node": "Wait for OTP Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Account Retry Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify OTP": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credits via GraphQL": {
      "main": [
        [
          {
            "node": "Parse Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Credits": {
      "main": [
        [
          {
            "node": "Update Credits in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Credits in Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Retry Logic": {
      "main": [
        [
          {
            "node": "Should Retry Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Account?": {
      "main": [
        [
          {
            "node": "Prepare Account Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-read Updated Sheet": {
      "main": [
        [
          {
            "node": "Filter & Select Random Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Credits via GraphQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Out of Credit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Out of Credit": {
      "main": [
        [
          {
            "node": "Update Credits in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message": {
      "main": [
        [
          {
            "node": "Extract OTP Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Fetch JS File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop JS Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnonKey Not Found NoOp": {
      "main": [
        [
          {
            "node": "Loop JS Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnonKey Found NoOp": {
      "main": [
        [
          {
            "node": "Loop JS Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge Accounts with Key",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Set Null AnonKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Null AnonKey": {
      "main": [
        [
          {
            "node": "Merge Accounts with Key",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter & Select Random Account": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Browserless Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Browserless Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a768c6d6-5b18-4de8-81b6-1f51f38eee55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be63337710028e92467c943922ce5d0a85f100af233a0ae9d41789f1e0cddffb"
  },
  "id": "iY6uLq2Ga5lEj8dB",
  "tags": []
}